.filter-wrapper {
  display: flex;
  justify-content: space-between;
  padding: rem(8) rem(10);
  border: rem(1) solid $color-031;
  border-radius: rem(27);
  font-size: rem(14);
  color: $color-015;
  background-color: $color-fff;
  &:first-child {
    min-width: 31%;
  }
  .icon {
    margin-left: rem(6);
  }
}
.bs-common {
  .bs-header {
    padding: rem(16) rem(16) 0;
    p {
      margin-bottom: 0;
    }
  }
}
