.flight-checkout-holder {
  padding: rem(22) 0 rem(50);
  .transit-visa {
    margin-bottom: rem(40);
  }
  .terminal-change {
    margin-bottom: rem(10);
  }

  .tr-info {
    .terminal-change {
      //margin-top:rem(40);
    }
  }

  .price-change-meta-model {
    .model-content-holder {
      max-width: rem(410);
      .btn {
        padding: rem(14) rem(62);
      }
    }
  }
}

.flight-checkout-left {
  width: 66.66666667%;
  padding-right: rem(41);

  .flight-seg {
    .tooltip-content {
      line-height: rem(15);
    }
  }
}

.flight-checkout-right {
  width: 33.33333333%;
  padding-left: rem(15);

  .fare-breakup-holder {
    .cobrandBg {
      background-image: linear-gradient(to right bottom, #ffeef6, #fbeef9, #f6eefc, #f1effe, #ebf0ff);
    }
  }

  .trvlr-mismatch-model {
    .trvlr-mismatch-btn {
      .btn {
        padding: rem(13) rem(21);
      }
    }
  }

  .pax-addons {
    .addon-detail {
      border-bottom: rem(1) solid $color-022;
      &:last-child {
        border: none;
      }
    }
  }

  .other-addons {
    border-top: rem(1) solid $color-022;
    .addon-logo {
      width: rem(20);
    }
  }
}

.checkout-heading {
  line-height: rem(32);
  margin-bottom: rem(20);
}

.adl-header-stepper {
  min-width: rem(250);
  margin-top: rem(10);
}
