@if variable-exists(gutter-space) {
    $space-list:map-get($gutter-space, 'list');

    @if $space-list != null {
        @each $space in $space-list {
            .sh-#{$space}{
                min-height:rem($space);
            }
        }
    }
    
    @if $space-list != null {
        @each $space in $space-list {
            .pd-#{$space}{ 
                padding:rem($space);
            }

            .pd-t#{$space}, .pd-tb#{$space}, .pd-tl#{$space}, .pd-tr#{$space}{
                padding-top:rem($space);
            }

            .pd-r#{$space}, .pd-tr#{$space}, .pd-rb#{$space}, .pd-rl#{$space}{
                padding-right:rem($space);
            }

            .pd-b#{$space}, .pd-tb#{$space}, .pd-rb#{$space}, .pd-bl#{$space}{
                padding-bottom:rem($space);
            }

            .pd-l#{$space}, .pd-tl#{$space}, .pd-rl#{$space}, .pd-bl#{$space}{
                padding-left:rem($space);
            }

            .mr-#{$space}{
                margin:rem($space);
            }

            .mr-t#{$space}, .mr-tb#{$space}, .mr-tl#{$space}, .mr-tr#{$space}{
                margin-top:rem($space);
            }

            .mr-r#{$space}, .mr-tr#{$space}, .mr-rb#{$space}, .mr-rl#{$space}{
                margin-right:rem($space);
            }

            .mr-b#{$space}, .mr-tb#{$space}, .mr-rb#{$space}, .mr-bl#{$space}{
                margin-bottom:rem($space);
            }

            .mr-l#{$space}, .mr-tl#{$space}, .mr-rl#{$space}, .mr-bl#{$space}{
                margin-left:rem($space);
            }

            .mr-mt#{$space}{
                margin-top:-rem($space);
            }

            .mr-mr#{$space}{
                margin-right:-rem($space);
            }

            .mr-mb#{$space}{
                margin-bottom:-rem($space);
            }

            .mr-ml#{$space}{
                margin-left:-rem($space);
            }
        }
    }
}

.pd-n{
    padding:0 !important;
}

.pd-tn, .pd-tbn, .pd-tln, .pd-trn{
    padding-top:0 !important;
}

.pd-rn, .pd-trn, .pd-rbn, .pd-rln{
    padding-right:0 !important;
}

.pd-bn, .pd-tbn, .pd-rbn, .pd-bln{
    padding-bottom:0 !important;
}

.pd-ln, .pd-tln, .pd-rln, .pd-bln{
    padding-left:0 !important;
}

.mr-n{
    margin:0 !important;
}

.mr-tn, .mr-tbn, .mr-tln, .mr-trn{
    margin-top:0 !important;
}

.mr-rn, .mr-trn, .mr-rbn, .mr-rln{
    margin-right:0 !important;
}

.mr-bn, .mr-tbn, .mr-rbn, .mr-bln{
    margin-bottom:0 !important;
}

.mr-ln, .mr-tln, .mr-rln, .mr-bln{
    margin-left:0 !important;
}