.full{
    clear:both;
    width:100%;
}

.full-w{
    clear:both;
    width:100%;
}

.full-h{
    float:left;
    width:100vw;
    height:100vh;
}

.full-vhw,
.full-vwh{
    float:left;
    width:100vw;
    height:100vh;
}

.w-5p {
    width: 5%;
  }
  
  .w-8p {
    width: 8%;
  }
  
  .w-10p {
    width: 10%;
  }
  
  .w-12p {
    width: 12%;
  }
  
  .w-15p {
    width: 15%;
  }
  
  .w-20p {
    width: 20%;
  }
  
  .w-22p {
    width: 22%;
  }
  
  .w-25p {
    width: 25%;
  }
  
  .w-28p {
    width: 28%;
  }
  
  .w-29p {
    width: 29%;
  }
  
  .w-30p {
    width: 30%;
  }
  
  .w-32p {
    width: 32%;
  }
  
  .w-33p {
    width: 33%;
  }
  
  .w-35p {
    width: 35%;
  }
  
  .w-37p {
    width: 37%;
  }
  
  .w-39p {
    width: 39%;
  }
  
  .w-40p {
    width: 40%;
  }
  
  .w-41p {
    width: 41%;
  }
  
  .w-42p {
    width: 42%;
  }
  
  .w-43p {
    width: 43%;
  }
  
  .w-44p {
    width: 44%;
  }
  
  .w-46p {
    width: 46%;
  }
  
  .w-47p {
    width: 47%;
  }
  
  .w-48p {
    width: 48%;
  }
  
  .w-49p {
    width: 49%;
  }
  
  .w-50p {
    width: 50%;
  }
  
  .w-52p {
    width: 52%;
  }
  
  .w-55p {
    width: 55%;
  }
  
  .w-56p {
    width: 55%;
  }
  
  .w-58p {
    width: 58%;
  }
  
  .w-60p {
    width: 60%;
  }
  
  .w-63p {
    width: 63%;
  }
  
  .w-65p {
    width: 65%;
  }
  
  .w-70p {
    width: 70%;
  }
  
  .w-75p {
    width: 75%;
  }
  
  .w-78p {
    width: 78%;
  }
  
  .w-80p {
    width: 80%;
  }
  
  .w-85p {
    width: 85%;
  }
  
  .w-87p {
    width: 87%;
  }
  
  .w-89p {
    width: 89%;
  }
  
  .w-90p {
    width: 90%;
  }
  
  .w-92p {
    width: 92%;
  }
  
  .w-93p {
    width: 93%;
  }
  
  .w-94p {
    width: 94%;
  }
  
  .w-95p {
    width: 95%;
  }
  
  .w-98p {
    width: 98%;
  }