@mixin fontFace($family, $weight, $style, $from: 'global/') {
  @font-face {
    font-family: $family;
	src: url('#{$font-folder}#{$from}#{$family}.eot?_v=#{$font-version}'); // IE9 compat
    src: url('#{$font-folder}#{$from}#{$family}.eot?_v=#{$font-version}#iefix') format('embedded-opentype'), // IE8 and below
		 url('#{$font-folder}#{$from}#{$family}.woff2?_v=#{$font-version}') format('woff2'),
      url('#{$font-folder}#{$from}#{$family}.woff?_v=#{$font-version}') format('woff'), // standards
      url('#{$font-folder}#{$from}#{$family}.ttf?_v=#{$font-version}') format('truetype'); // Safari, Android, iOS00 --* /
    font-style: $style;
    font-weight: $weight;
  }
}

@mixin cdnFontFace($family, $weight, $style, $from: 'global/') {
  @font-face {
    font-family: $family;
	src: url('#{$cdn-font-folder}#{$from}#{$family}.eot'); // IE9 compat
    src: url('#{$cdn-font-folder}#{$from}#{$family}.eot#iefix') format('embedded-opentype'), // IE8 and below
		 url('#{$cdn-font-folder}#{$from}#{$family}.woff2') format('woff2'),
      url('#{$cdn-font-folder}#{$from}#{$family}.woff') format('woff'),// standards
      url('#{$cdn-font-folder}#{$from}#{$family}.ttf') format('truetype'); // Safari, Android, iOS00 --* /
    font-style: $style;
    font-weight: $weight;
  }
}
