$carousel-control-color:$color-fff;
$carousel-indicator-active-bg:$color-fff;
$carousel-indicator-background:$color-011;
$carousel-dark-indicator-active-bg:$color-fff;
$carousel-dark-caption-color:$color-fff;
$carousel-caption-color:$white;
