.chckbx-wrpr,
.rdio-wrpr {
  position: relative;

  input[type='checkbox'],
  input[type='radio'] {
    opacity: 0;
    z-index: 1;
    left: rem(-9999);
    position: absolute;
  }

  label {
    @extend .full;
    cursor: pointer;
    position: relative;
    font-size: rem(16);
    line-height: rem(20);
    padding-left: rem(32);
    vertical-align: middle;

    &:after,
    &:before {
      content: '';
      float: left;
      cursor: pointer;
      position: absolute;
      visibility: visible;
    }

    &:after {
      left: 0;
      top: rem(1);
      width: rem(22);
      height: rem(22);
      background-color: transparent;
      border: 1px solid transparent;
      @include adl-border-radius(#{rem(3)}, #{rem(3)}, #{rem(3)}, #{rem(3)});
    }

    &:before {
      opacity: 0;
      z-index: 1;
      top: rem(5);
      left: rem(6);
      width: rem(11);
      height: rem(6);
      @extend .transition;
      @include adl-rotate(-45);
      border: rem(2) solid transparent;
      border-top: none;
      border-right: none;
    }

    &:active {
      &:before {
        opacity: 0.3;
      }
    }

    &.fs-11 {
      font-size: rem(11);
    }
  }

  input[type='checkbox']:checked + label,
  input[type='radio']:checked + label {
    &:before {
      opacity: 1;
    }
  }

  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
    opacity: 0.5;
    cursor: default;

    &:after {
      opacity: 0.25;
      cursor: default;
    }

    &:before {
      //display: none;
    }
  }

  &.toggle {
    input[type='checkbox']:checked + label,
    input[type='radio']:checked + label {
      &:before {
        left: rem(16);
      }
    }
  }

  &.chckbx-ar {
    label {
      padding-left: 0;
      padding-right: rem(24);

      &:after {
        right: 0;
        left: inherit;
      }

      &:before {
        right: rem(4);
        left: inherit;
      }
    }
  }
}

.chckbx-wrpr {
  label {
    &:after {
      top: rem(-2);
    }
  }

  &.toggle {
    label {
      padding-left: rem(35);

      &:after,
      &:before {
        top: rem(3);
        width: rem(30);
        height: rem(16);
        border-radius: rem(10);
      }

      &:after {
        border: rem(1) solid transparent;
      }

      &:before {
        opacity: 1;
        top: rem(5);
        left: rem(2);
        width: rem(12);
        height: rem(12);
        border: none;
        border-radius: none;
        @include adl-rotate(0);
      }
    }
  }

  &.chckbx-large {
    label {
      font-size: rem(18);
      line-height: rem(22);

      &:before {
        top: rem(7);
        left: rem(6);
      }

      &:after {
        width: rem(22);
        height: rem(22);
      }
    }
  }
}

.rdio-wrpr {
  label {
    &::after,
    &::before {
      width:19px;
      height:19px;
      border-radius: 50%;
      border-width: rem(1);
    }

    &::before {
      top: rem(5);
      left:4px;
      width:11px;
      height:11px;
      background-color: transparent;
      border: solid rem(1) transparent;
    }
  }
}

.chckbx-lable-no-disabled{
  .chckbx-wrpr, .rdio-wrpr {
    label{
      opacity:1 !important;
    }
  }
}

@each $theme, $data in $checkbox-map {
  .chckbx-wrpr {
    $checkbox-bg: map-get($data, 'checkbox-bg');
    $checkbox-bdr: map-get($data, 'checkbox-bdr');
    $checkbox-tick-color: map-get($data, 'checkbox-tick-color');
    $checkbox-checked-bg: map-get($data, 'checkbox-checked-bg');
    $checkbox-checked-bdr: map-get($data, 'checkbox-checked-bdr');
    $checkbox-lable-color: map-get($data, 'checkbox-lable-color');
    $checkbox-checked-tick-color: map-get($data, 'checkbox-checked-tick-color');

    input[type='checkbox'] + label {
      color: $checkbox-lable-color;

      &:before {
        border-color: $checkbox-tick-color;
      }

      &:after {
        background: $checkbox-bg;
        border-color: $checkbox-bdr;
      }
      &:hover::after {
        border-color:$checkbox-checked-bdr;
      }
    }

    input[type='checkbox']:checked + label {
      &:before {
        border-color: $checkbox-checked-tick-color;
      }

      &:after {
        background: $checkbox-checked-bg;
        border-color: $checkbox-checked-bdr;
      }
    }
  }

  .rdio-wrpr {
    &.theme-#{$theme} {
      $radio-bg-color: map-get($data, 'radio-bg-color');
      $radio-lable-color: map-get($data, 'radio-lable-color');
      $radio-border-color: map-get($data, 'radio-border-color');
      $radio-hover-bdr-color: map-get($data, 'radio-hover-bdr-color');
      $radio-active-bg-color: map-get($data, 'radio-active-bg-color');
      $radio-active-bdr-color: map-get($data, 'radio-active-bdr-color');
      $radio-active-lable-color: map-get($data, 'radio-active-lable-color');

      input[type='radio'] + label {
        color: $radio-lable-color;

        &:hover:after {
          border-color: $radio-hover-bdr-color;
        }

        &:after {
          background: $radio-bg-color;
          border-color: $radio-border-color;
        }
      }

      input[type='radio']:checked + label {
        color: $radio-active-lable-color;

        &:before {
          background: $radio-active-bg-color;
          border-color: $radio-active-bdr-color;
        }
      }
    }
  }

  .chckbx-wrpr.toggle {
    &.theme-#{$theme} label {
      $toggle-bdr: map-get($data, 'toggle-border-color');
      $toggle-bg: map-get($data, 'toggle-background-color');
      $toggle-switch-bg: map-get($data, 'toggle-switch-bg-color');
      $toggle-switch-shadow: map-get($data, 'toggle-switch-shadow-color');

      &:after {
        @if $toggle-bg {
          background: $toggle-bg;
        }

        @if $toggle-bdr {
          border-color: $toggle-bdr;
        }
      }

      &:before {
        @if $toggle-switch-bg {
          background: $toggle-switch-bg;
        }

        @if $toggle-switch-shadow {
          box-shadow: 0 rem(2) rem(1) 0 rgba(0, 0, 0, 0.1), 0 rem(1) rem(1) 0 rgba(0, 0, 0, 0.16), 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.15);
          box-shadow: $toggle-switch-shadow;
        }
      }
    }
  }
}

.form-check {
  &.small {
    min-height: rem(10);
    padding-left: em(25);

    .form-check-input {
      width: rem(15);
      height: rem(15);
      margin-top: rem(3);
      margin-left: -#{em(25)};
      cursor: pointer;

      &:hover {
        border: 1px solid $color-011;
      }
    }

    .form-check-label {
      font-size: rem(14);
      line-height: rem(15);
    }
  }
}
