.filter-item {
  margin-bottom: rem(30);
}

.fitler-heading {
  font-size: rem(15);
  margin-bottom: rem(10);
}

.filter-options-list {
  li {
    padding: rem(4) 0 0;
    line-height: rem(20);
  }

  .filter-info {
    font-size: rem(12);
    color: $filters-checkbox-info-color;
  }

  li.filter-has-info {
    position: relative;
    margin-top: rem(2);
    padding-right: rem(68);

    .filter-info {
      right: 0;
      top: rem(2);
      position: absolute;
    }

    .form-check-input {
      margin-top: 0;
    }

    .form-check,
    .form-check .form-check-label,
    .form-check .tooltip-box-holder {
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: rem(16);
    }

    .form-check .tooltip-box-holder_,
    .form-check .form-check-label {
      overflow: hidden;
    }
  }
}

.filter-list-wrapper {
  .filter-separator {
    &:last-child {
      .filter-item {
        margin-bottom: 0;
      }
    }
  }
}

.srp-d-filter {
  height: rem(52);
  .filter-bubble {
    border: rem(1) solid $color-017;
    padding: rem(6) rem(30) rem(6) rem(16);
    border-radius: rem(50);
    min-width: rem(184);
    max-width: fit-content;
    &:last-child {
      padding: 0;
      min-height: rem(50);
      margin-left: auto;
    }

    .filtered-price {
      position: relative;
      font-size: rem(12);
      color: $color-014;
    }
    .popup-box-body {
      left: auto;
      right: 0px;
      top: rem(42);

      .sort-radio {
        .rdio-wrpr > input[type='radio']:checked + label {
          font-family: $font-family-rm;
        }
      }
    }

    .popup-label {
      .ai-down,
      .ai-up {
        position: absolute;
        top: rem(18);
        right: rem(22);
      }
    }

    &.active {
      border: rem(1) solid $color-011;
    }

    &:not(.filter-bubble-selected):hover {
      border: rem(1) solid $color-011;
    }
  }
  &.blank-holder {
    .filter-bubble {
      border: none;
      &:hover {
        border: none;
      }
    }
  }
  .dot-separator {
    border: 1px solid $color-013;
    width: rem(5);
    height: rem(5);
    border-radius: rem(50);
    display: inline-block;
    background: $color-013;
    position: absolute;
    top: 4px;
  }
  .filter-bubble-selected {
    border: rem(2) solid $color-011;
    background-color: $color-052;
  }
}

.sort-radio {
  & > li:hover {
    background-color: $color-052;
  }
  .rdio-wrpr {
    label {
      line-height: 1.4;
    }
  }
}
