.fids-mobile-button {
  width: 100%;
  border: none;
  border-radius: rem(27);
  color: $color-fff;
  background-color: $color-002;
  padding: rem(15) rem(30);
  line-height: 1.5;
  text-align: center;
}
