.sd-wrpr {
    top:0;
    left:-9999px;
    z-index:91;
    width:100vw;
    height:100vh;
    max-width:100vw;
    max-height:100vh;
    overflow:auto;
    position:fixed;
}

.sd-inpt {
    display:none;
    width:rem(0);
    height:rem(0);
    top:-99999px;
    left:-99999px;
    position:absolute;
}

.sd-ctnt-wrpr {
    top:0;
    left:-99999px;
    z-index:92;
    height:100vh;
    max-height:100vh;
    overflow:hidden;
    position:fixed;
}

.sd-ctnt {
    top:0;
    left:-9999px;
    z-index:92;
    height:100vh;
    position:fixed;
    max-height:100vh;
    width:rem(320);
    max-width:calc(100vw - rem(36));
}

.sd-ctnt-hldr{
    clear: both;
    overflow:auto;
    height:100vh;
    min-height:100vh;
    max-height:100vh;
}

.sd-close{
    top:0;
    left:100%;
    width:rem(16);
    height:rem(16);
    position:absolute;
}

.sd-wrpr.from-right,
.sd-wrpr.from-right .sd-ctnt,
.sd-wrpr.from-right .sd-ctnt-wrpr{
    left:inherit;
    right:-99999px;
}

.sd-wrpr.from-right .sd-close{
    left:inherit;
    right:100%;
}

.sd-wrpr .backdrop {
    width:0;
    height:0;
    display: block;
}

.sd-inpt:checked + .sd-wrpr, 
.sd-inpt:checked + .sd-wrpr .sd-ctnt,
.sd-inpt:checked + .sd-wrpr .sd-ctnt-wrpr{
    left:0;
}

.sd-inpt:checked + .sd-wrpr.from-right,
.sd-inpt:checked + .sd-wrpr.from-right .sd-ctnt,
.sd-inpt:checked + .sd-wrpr.from-right .sd-ctnt-wrpr{
    right:0;
    left:inherit;
}

.sd-inpt:checked + .sd-wrpr > .backdrop{
    opacity:1;
    width:100vw;
    height:100vh;
}