$select-box-border-color:$color-019;
$select-border-focus-color:$color-015;
$select-box-list-bg-color:$color-fff;
$select-box-list-shadow:rgba(136, 136, 136, 0.2);
$select-box-option-color:$body-color;
$select-box-placeholder-color:$color-014;

$select-error-text-color:$color-007;
$select-error-border-color:$color-007;


$select-map:(
    '000':(
      text:$color-014,
      border:$color-014,
      background:$color-014
    )
);