.hero-holder{
    position:relative;
}

.hero-prev-next{
    top:50%;
    width:100%;
    position: absolute;

    .carousel-control-prev,
    .carousel-control-next{
        opacity:1;
        width:48px;
        height:48px;
        background-color:$hero-next-prev-bg;
        @include adl-border-radius(50px, 50px, 50px, 50px)
    }
}

.hero-slide-content{
    left:0;
    top:50%;
    height:100%;
    position:absolute;
}

.hero-slide-inner{
    padding:0 85px;
    @include adl-transform(0, -50%);
    .h1{
        font-size:rem(42);
        margin-bottom:rem(20);
        color:$hero-section-heading-color;
        span{
            display: block;
        }
    }

    .heor-desc{
        font-size:rem(24);
        margin-bottom:rem(30);
        color: $hero-section-description-color;
    }

    .btn{
        background:$color-fff;
        border-color:$color-fff;
        color:$hero-section-btn-text-color;
    }
}