@import 'adl-sass-theme';
@import 'adl-sass-verticals/booking/be/common';

.fbh {
  background-color: $color-fff;

  .fb-popup-box {
    .popup-box-body {
      margin-top: rem(10);
    }
  }
  .pax {
    .pax-cls {
      &:before {
        top: 50%;
        left: rem(6);
        content: '';
        width: rem(4);
        height: rem(4);
        margin-top: rem(-2);
        display: block;
        position: absolute;
        background-color: $color-013;
        border-radius: 0.125rem 0.125rem 0.125rem 0.125rem;
        -webkit-border-radius: 0.125rem 0.125rem 0.125rem 0.125rem;
        -moz-border-radius: 0.125rem 0.125rem 0.125rem 0.125rem;
      }
    }
  }
  .pax .popup-box-body {
    min-width: rem(360) !important;
    min-height: auto !important;
    margin-top: 0.625rem;
    z-index: 198;
  }

  .ao-hding {
    font-size: rem(12) !important;
  }
  .fare-type {
    .tooltip-box-holder {
      .tooltip-content {
        transform: translate(1%, 108%);
        .desc {
          max-width: rem(204);
        }
      }
    }
    .blank {
      &.round {
        &:after {
          border-radius: rem(50);
        }
      }
    }
  }
  .fare-type-mobile {
    padding: 0 !important;
    margin: 0;
    .fare-type {
      margin: 0;
      padding-bottom: rem(24);
      &.scroll-tab-container {
        padding-left: rem(1);
      }
    }
    .blank {
      &.round {
        &:after {
          border-radius: rem(50);
        }
      }
    }
  }
}

.fbh .trip-type {
  position: relative;
  right: rem(8);
  padding: 0 0 rem(14) 0;

  .rdio-wrpr {
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;

    &:hover {
      background: $color-052;

      label {
        &::after {
          border-color: $color-020 !important;
        }
      }
    }

    input[type='radio']:checked + label {
      &::after {
        border-color: $color-020 !important;
      }
    }
  }

  .blank-holder {
    span {
      position: relative;
      left: rem(8);
    }
  }
}

.fbh .fbh-input-list {
  .org-holder {
    margin-top: rem(8);

    .ai-14 {
      top: rem(8);
      right: rem(16);
      position: absolute;
    }
  }

  > li {
    padding: 0 rem(12);
    padding-bottom: rem(24);

    &:first-child,
    &:nth-of-type(4) {
      padding: 0 rem(12) 0 0;
      padding-bottom: rem(24);
    }

    &:nth-of-type(3),
    &:last-child {
      padding: 0 0 0 rem(12);
      padding-bottom: rem(24);
    }
  }
}

.fbh .date-input {
  position: relative;

  .org-holder {
    padding-top: rem(22) !important;
    padding-left: rem(16) !important;
  }

  .date-input-cal {
    right: 0;
    top: 100%;
    // z-index:999;
    z-index: 198;
    position: absolute;
    min-width: rem(700);
    margin-top: rem(10);

    .react-datepicker {
      display: flex;
      margin-left: 0;
      justify-content: space-between;

      .react-datepicker__month-container {
        flex: 0 0 50%;
      }
    }

    .react-datepicker__day--outside-month {
      .datepicker-date-holder,
      .datepicker-price {
        display: none;
      }
    }
  }

  &.return-date {
    .date-input-cal {
      left: 0;
      right: inherit;
    }
  }
}

.fbh .be-class-list {
  margin-top: rem(10);

  li {
    padding-left: 0;
    display: inline-block;
    margin: rem(10) rem(10) 0 0;
  }

  li:last-child {
    margin-top: rem(30);
  }
}

.fbh-input-list {
  .return-date {
    p {
      span {
        position: absolute;
        top: rem(15);
      }
    }

    .date-input {
      .input-wrapper {
        .input {
          width: 95%;
        }

        .placholder {
          width: 95%;
        }
      }
    }

    .input-icon-holder {
      .ai-close {
        top: rem(14);
        right: rem(12);
        z-index: 10;
      }
    }
  }
}

@include adl-max-screen(768) {
  .fbh .trip-type .rdio-wrpr:hover {
    background: unset;
  }
  .fbh .fbh-input-list {
    > li {
      flex: 0 0 50%;
      padding: 0 0 rem(24);

      &:first-child,
      &:nth-of-type(4) {
        padding: 0 0 rem(24);
      }

      &:nth-of-type(3),
      &:last-child {
        padding: 0 0 rem(24);
      }
    }

    .popup-wrpr {
      .popup-box-body {
        min-width: rem(300);
      }
    }

    .return-date {
      .date-input {
        .input-wrapper {
          .input {
            width: 90%;
          }

          .placholder {
            width: 90%;
          }
        }
      }
    }

    .pax {
      .bs-holder {
        .be-class-list {
          margin-bottom: rem(80);
        }

        .closePopup {
          position: fixed;
          right: 0;
          margin: 0;
          bottom: 0;
          background: $color-fff;
          padding: 0 rem(20) rem(18);

          span {
            margin: 0;
          }
        }
      }
    }
  }

  .adlw {
    .bs-inner {
      .ao-list {
        padding: 0;

        .full {
          &:hover {
            background: none;
          }
        }

        .input-wrapper {
          input {
            font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
          }
        }
      }
    }

    .ao-list {
      .ao-city {
        span {
          font-family: inherit;
        }
      }
    }
  }
}

// @include adl-max-screen(640) {
//   .fbh .fbh-input-list {
//     > li {
//       flex: 0 0 100%;
//     }
//   }
// }

@include adl-max-screen(768) {
  .fbh .date-input .date-input-cal {
    min-width: inherit;

    .react-datepicker {
      .react-datepicker__month-container {
        flex: 0 0 100%;
      }
    }
  }

  .fbh .fbh-input-list {
    > li {
      flex: 0 0 100%;

      //     &:nth-child(3) {
      //       flex: 0 0 50%;
      //       padding-right: rem(10);
      //     }
      //     &:nth-child(4) {
      //       flex: 0 0 50%;
      //       padding-left: rem(10);
      //     }
      //     &:nth-child(7) {
      //       flex: auto;
      //       &.fare-type-mobile {
      //         margin-left: rem(-20);
      //         margin-right: rem(-20);
      //         .seg-bubble {
      //           &:first-child {
      //             margin-left: rem(20);
      //           }
      //           &:last-child {
      //             margin-right: rem(20);
      //           }
      //         }
      //       }
      //     }
    }
  }
}

@include adl-max-screen(320) {
  .fbh .fbh-input-list {
    .popup-wrpr {
      .popup-box-body {
        min-width: rem(290);
      }
    }

    .be-class-list {
      li:nth-of-type(2) {
        margin-top: rem(30);
      }
    }
  }
}

/*header override css*/

.adlw .input {
  z-index: 10;
}

/*header override css*/

.desktop-show {
  display: inline-block;
}

.mobile-show {
  display: none;
}

@include adl-max-screen(768) {
  .desktop-show {
    display: none;
  }

  .mobile-show {
    display: inline-block;
  }
}
