.adl-dd-menu{
    position:relative;
    .adl-dd-menu-label{
        display:flex;
        cursor:pointer;
        color:$color-011;
        padding:rem(6) rem(16);
        @include adl-border-radius(rem(20), rem(20), rem(20), rem(20));
    }

    .adl-dd-menu-options{
        right:0;
        top:100%;
        display:none;
        overflow:hidden;
        min-width:rem(260);
        position:absolute;
        background:$color-fff;
        @include adl-border-radius(rem(8), rem(8), rem(8), rem(8));
        box-shadow: rgb(0 0 0 / 15%) rem(0) rem(10) rem(37);
    }

    .adl-dd-menu-item{
        display:block;
        color:$color-015;
        text-decoration:none;
        padding:rem(12) rem(20);

        &:hover{
            color:$color-000;
            background:$color-052;
        }
    }

    .adl-dd-menu-list{
        &:first-child{
            .adl-dd-menu-item{
                //padding-top:rem(24);
                @include adl-border-radius(rem(8), rem(8), 0, 0);
            }
        }
        &:last-child{
            .adl-dd-menu-item{
                //padding-bottom:rem(24);
                @include adl-border-radius(0, 0, rem(8), rem(8));
            }
        }
    }

    &:hover{
        .adl-dd-menu-label{
            color:$color-000;
            background:$color-052;
            &.no-hover{
                color:$color-015;
                background: transparent;
            }
        }
        .adl-dd-menu-options{
            display:block;
        }
    }
}

.adl-header-floating {
    .adl-dd-menu-options{ 
        top:74%;
    }
}