@import "bootstrap/carousel";

.carousel-dark .carousel-indicators [data-bs-target]{
    width:10px;
    height:10px; 
    background-color: $carousel-indicator-background;
    @include adl-border-radius(50px, 50px, 50px, 50px);
    &.active{
        background-color:$carousel-indicator-active-bg;
    }
}