.flight-booking-engine{
    padding:rem(30) 0;
    background:$flight-booking-engine-background-color;
}

.depart-date{
    .react-datepicker__input-container input{
        outline:none;
        border:none;
    }
}