$has-loader:has-component('loader');

@if $has-loader != '' {
    $loader-prefix:get-component-prefix('loader');

    @if $loader-prefix != '' {
        .#{$loader-prefix}{
            .dot {
                width:rem(8);
                height:rem(8);
                display:inline-block;
                ///background-color:$color-fff;
                @include aio-border-radius(rem(6), rem(6), rem(6), rem(6));
                -webkit-animation-name:loader_animation;
                        animation-name:loader_animation;
                -webkit-animation-duration:0.8s;
                        animation-duration:0.8s;
                -webkit-animation-iteration-count:infinite;
                        animation-iteration-count:infinite;
                -webkit-animation-timing-function:linear;
                        animation-timing-function:linear;
                //-webkit-animation-fill-mode:both $color-fff;
                        animation-fill-mode:both;
                vertical-align: middle;
                &:first-child {
                    -webkit-animation-delay: -0.3s;
                            animation-delay: -0.3s;
                }
                &:nth-child(2n) {
                    -webkit-animation-delay: -0.15s;
                            animation-delay: -0.15s;
                            margin: 0 3px;
                }
            }

            &.blue{
                .dot{
                    //background-color:$color-011;
                    //-webkit-animation-fill-mode:both $color-011;
                }
            }
        }

        .page-loader { 
            left:0;
            right:0;
            bottom:0;
            position: fixed;
            top: 0;
            background-color: rgba(0, 0, 0, 0.8);
            -webkit-transition: opacity 0.24s ease 0s;
            -o-transition: opacity 0.24s ease 0s;
            transition: opacity 0.24s ease 0s;
            z-index: 2001;
            .#{$loader-prefix}{
                clear: both;
                margin: 0;
                .dot{
                    @include aio-border-radius(rem(8), rem(8), rem(8), rem(8));
                    &:nth-child(2n) {
                        margin: 0 .25rem;
                    }
                }
            }
        }

        @-webkit-keyframes loader_animation {
            0%, 80%, 100% {
                opacity: 0;
            }
            30%, 50% {
                opacity: 1;
            }
        }

        @keyframes loader_animation {
            0%, 80%, 100% {
                opacity: 0;
            }
            30%, 50% {
                opacity: 1;
            }
        }
    }
}